body {
  padding: 50px 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
}
div.wide {
  width: 1000px;
  margin: 0 auto;
}
div.narrow {
  width: 500px;
  margin: 0 auto;
}

#messages {
  height: 450px;
  word-break: break-all;
  word-wrap: break-word;
  overflow-y: auto;
}

#name-wrapper {
  font-size: 1.1em;
  font-weight: 700;
  padding: 10px 0;
}
#name {
  max-width: 750px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#name, #colon {
  display: inline-block;
  overflow: hidden; /* Yeah, it needs for colon too*/
}

#footer {
  padding: 0 15px;
}

#colwrapper {
  display: inline-block;
}

.centered {
  text-align: center;
}

.sys-msg {
  color: #808080;
  font-size: 1.1em;
}

.cmn-msg-name {
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.2em;
}